body {
font-family: 'Roboto', sans-serif;
min-height: 100vh;
min-width: 100vh;
color: black;

}




.nav-item {
color: white;
}

#apricot {
background-color: #E99E75;

}

#ebonyClay {
background-color: #292643;
}

.footerIcon {
color: white;
}

.portfolio-page{
text-decoration: none;
}

.link-dark{
color: black;

}

.port-img {
width: 450px;
height: 300px

}

img {
filter: brightness(90%)
}